<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Check</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../style/contact.css" />
    <style>
      header {
        text-align: center;
      }
      main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 42rem;
        margin: 0 auto;
        @media (max-width: 42rem) {
          grid-template-columns: 1fr;
          padding: 3rem;
        }
      }
    </style>
  </head>
  <body>
    <nav>
      <h1 class="logo">
        <a href="../index.html">HEALTH CHECKER</a>
      </h1>
      <ul class="nav-panel">
        <li class="nav-panel-itm">
          <a href="../index.html">Home</a>
        </li>
        <li class="nav-panel-itm">
          <a href="#">Calculate</a>
        </li>
        <li class="nav-panel-itm">
          <a href="../index.html#how_it_work">How it works</a>
        </li>
      </ul>
    </nav>

    <header>
      <h1 class="heading">Put your Data</h1>
      <p class="header-content">
        Getting know about your health is a step to lead a better life.
      </p>
    </header>
    <main>
      <label for="wght">Gender [M for Male / F for Female]</label>
      <input type="text" name="gender" id="gender" />
      <label for="wght">Weight [kgs]</label>
      <input type="text" name="wght" id="wght" />
      <label for="wght">Height [meters]</label>
      <input type="text" name="hght" id="hght" />
      <label for="wght">Age [years]</label>
      <input type="text" name="age" id="age" />
      <label for="wght">Activity</label>
      <input type="text" name="age" id="activity" />
      <p class="note">A - Active | VA - Very Active | PA - Partial</p>

      <button type="button" id="calculate">CALCULATE</button>
    </main>
    <p class="bmiValue"></p>
    <p class="bmrValue"></p>
    <p class="comment"></p>

    <script src="script.js"></script>
  </body>
</html>
